
table {
  background-color: #828282;
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  width: 70%;
  margin: 0 auto;
  position: relative;
}
table * {
  position: relative;
 }
table td, table th {
  padding-left: 8px;
  text-align: center;
}
table thead th {
  height: 60px;
  background: #828282; /*era #581F9B*/
}
table thead tr {
    height: 50px;
}
table tr:nth-child(even) {
  background-color: #f5f5f5;
}
thead td:hover {
  color: #555555;
  background-color: #f5f5f5;
  cursor: pointer;
}